{% extends 'base.html' %}

{% block title %} Categorias {% endblock %}

{% block content %}

<div class="w-75 mx-auto my-5 container text-white">
    <div class="d-flex justify-content-center">
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:accion' %}"><h1 class="fs-3 fw-bold">Acción</h1></a></div>
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:animacion' %}"><h1 class="fs-3 fw-bold">Animación</h1></a></div>
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:aventura' %}"><h1 class="fs-3 fw-bold">Aventura</h1></a></div>
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:terror' %}"><h1 class="fs-3 fw-bold">Terror</h1></a></div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:ciencia_ficcion' %}"><h1 class="fs-3 fw-bold">Ciencia Ficción</h1></a></div>
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:comedia' %}"><h1 class="fs-3 fw-bold">Comedia</h1></a></div>
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:drama' %}"><h1 class="fs-3 fw-bold">Drama</h1></a></div>
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:familiar' %}"><h1 class="fs-3 fw-bold">Familiar</h1></a></div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:fantasia' %}"><h1 class="fs-3 fw-bold">Fantasia</h1></a></div>
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:misterio' %}"><h1 class="fs-3 fw-bold">Misterio</h1></a></div>
        <div class="bg-danger bg-gradient border border-danger rounded m-1 p-5 col-md-3 text-center"><a class="text-dark text-decoration-none" href="{% url 'myapp:musicales' %}"><h1 class="fs-3 fw-bold">Musicales</h1></a></div>
        <div class="m-1 p-5 col-md-3"></div>
    </div>
</div>
<!-- <div class="contenedor-categorias">
    <div class="categorias">
        <a href="{% url 'myapp:accion' %}">Acción</a>
    </div>
    <div class="categorias">
        <a href="{% url 'myapp:animacion' %}">Animación</a>
    </div>
    <div class="categorias">
        <a href="{% url 'myapp:aventura' %}">Aventura</a>
    </div>
    <div class="categorias">
        <a href="{% url 'myapp:terror' %}">Terror</a>
    </div>
    <div class="categorias">
        <a href="{% url 'myapp:ciencia_ficcion' %}">Ciencia Ficción</a>
    </div>
    <div class="categorias">
        <a href="{% url 'myapp:comedia' %}">Comedia</a>
    </div>
    <div class="categorias">
        <a href="{% url 'myapp:drama' %}">Drama</a>
    </div>
    <div class="categorias">
        <a href="{% url 'myapp:familiar' %}">Familiar</a>
    </div>
    <div class="categorias">
        <a href="{% url 'myapp:fantasia' %}">Fantasia</a>
    </div>
    <div class="categorias">
        <a href="{% url 'myapp:misterio' %}">Misterio</a>
    </div>
    <div class="categorias">
        <a href="{% url 'myapp:musicales' %}">Musicales</a>
    </div>
</div> -->

{% endblock %}