{% extends 'base.html' %}

{% block title %} Perfil {% endblock title %}

{% block content %}

<div class="w-25 mt-5 p-4 container border border-3 border-danger rounded rounded-3 text-white-50">
    <h1 class="mt-3 mb-5 text-center">Información de cuenta</h1>
    <hr>
    <label for="" class="mt-2 text-white-50">Nombre:</label>
    <p class="mb-2 fs-3 text-white">{{user.first_name}} {{user.last_name}}</p>
    <label for="" class="mt-2 text-white-50">Nombre de usuairo:</label>
    <p class="mb-2 fs-3 text-white">{{user.username}}</p>
    <label for="" class="mt-2 text-white-50">Correo electrónico:</label>
    <p class="mb-2 fs-3 text-white">{{user.email}}</p>
    <label for="" class="mt-2 text-white-50">Fecha de creación:</label>
    <p class="mb-2 fs-3 text-white">{{user.date_joined}}</p>
    <div class="d-grid gap-2">
        <a class="mt-3 mb-1 btn btn-danger" href="{% url 'myapp:editar-perfil' %}">Editar perfil</a>
        <a class="mb-3 btn btn-danger" href="{% url 'myapp:change_password' %}">Cambiar contraseña</a>
    </div>
</div>

{% endblock %}